        {% comment %}
        Template receives:
          * consents: a list of wrapped consent model instances
          * consent: a wrapped consent model instance, or None
          * consent object: a consent "object" from site_consents
        {% endcomment %}

          
          <!--  begin show a button for each consent except the current one -->
          {% for wrapped in consents %}

            {% if wrapped.id != consent.id %}

            <a role="button" class="btn btn-sm {% if wrapped.id %}btn-default{% else %}btn-warning{% endif %}" 
               href="{{ wrapped.get_absolute_url }}?next={{ wrapped.next_url }}&{{ wrapped.extra_querystring }}">
                 {%if wrapped.id %}<i class="fa fa-pencil fa-sm"></i>{% else %}<i class="fa fa-plus fa-sm"></i>{% endif %}
                  {{ wrapped.verbose_name|default:consent_object.name }} v{{ wrapped.version }}
            </a>

            {% endif %}
          
          {% endfor %}
          
          {% if consent %}

          <a role="button" class="btn btn-sm {% if consent.id %}btn-default{% else %}btn-warning{% endif %}" 
             href="{{ consent.get_absolute_url }}?next={{ obj.next_url }}&{{ obj.extra_querystring }}">
               {%if consent.id %}<i class="fa fa-pencil fa-sm"></i>{% else %}<i class="fa fa-plus fa-sm"></i>{% endif %} 
                 {{ consent.verbose_name|title }} v{{ consent.version }}</a>

          {% else%}
           <a role="button" class="btn btn-sm {% if consent.id %}btn-default{% else %}btn-warning{% endif %}" 
              href="{{ consent_object.get_absolute_url }}?next={{ subject_dashboard_url_name }},household_identifier,subject_identifier,survey_schedule&household_identifier={{household_identifier}}&subject_identifier={{subject_identifier}}&survey_schedule={{survey_schedule_object.field_value}}&household_member={{ household_member.id }}">
                {%if consent.id %}<i class="fa fa-pencil fa-sm"></i>{% else %}<i class="fa fa-plus fa-sm"></i>{% endif %} 
                  {{ consent_object.verbose_name|title }} v{{ consent_object.version }}</a>

          
          {% endif %}
          
          {% for obj in enrollment_objects %}
            <a role="button" class="btn btn-sm {% if obj.id %}btn-success{% else %}btn-default{% endif %}" 
              href="{% if obj.get_absolute_url %}{{ obj.get_absolute_url }}{% else %}{% url obj.admin_url_name %}{% endif %}?next=next={{ dashboard_url_name }},subject_identifier,survey_schedule,survey&subject_identifier={{ subject_identifier }}&survey={{ survey_object.field_value }}&survey_schedule={{ survey_schedule_object.field_value }}&household_member={{ household_member.id }}">
              {%if obj.pk %}<i class="fa fa-pencil fa-sm"></i>{% else %}<i class="fa fa-plus fa-sm"></i>{% endif %} {{ consent.verbose_name }}</a>
          {% endfor %}

  </div>
</div>

