{% load tz %}
{% load edc_base_extras %}
<div class="panel panel-info">
<ul class="list-group">
{% if subject_offstudy %}
    <li class="list-group-item list-group-item-danger"><i class="fa fa-ban" aria-hidden="true"></i> <span class="test small text-default">Offstudy as of</span>&nbsp<span class="test small text-default">{{ subject_offstudy.offstudy_datetime|date:"Y-m-d"}}</span></li>
{% endif %}
<li class="list-group-item"><span class="test small text-default"><i class="fa fa-user-circle-o fa-lg"></i> {{ subject_consent.subject_identifier }}</li>
<li class="list-group-item"><span class="test small text-default">Survey</span>&nbsp<span class="test small text-info">{{ subject_consent.survey_year|upper }}.{{ subject_consent.survey_name|upper }}</span></li>
<li class="list-group-item"><span class="test small text-default">Household</span>&nbsp<span class="test small text-info">{{ member.household_structure.household.household_identifier }}</span></li>
<li class="list-group-item"><span class="test small text-default">Gender</span>&nbsp<span class="test small text-info">{{ subject_consent.get_gender_display }}</span></li>
<li class="list-group-item"><span class="test small text-default">Born</span>&nbsp<span class="test small text-info">{{ subject_consent.dob|date:"Y-m-d" }}</span></li>
<li class="list-group-item"><span class="test small text-default">Age</span>&nbsp<span class="test small text-info">{% age_in_years subject_consent.dob%}</span></li>
<li class="list-group-item"><span class="test small text-default">Consented</span>&nbsp<span class="test small text-info">{{ subject_consent.consent_datetime|date:"Y-m-d" }}</span></li>
</ul>
</div>
