{% load tz %}
{% load edc_base_extras %}
<div class="panel panel-info">
<ul class="list-group">
{% if subject_offstudy %}
    <li class="list-group-item list-group-item-danger"><i class="fa fa-ban" aria-hidden="true"></i> <span class="test small text-default">Offstudy as of</span>&nbsp<span class="test small text-default">{{ subject_offstudy.offstudy_datetime|date:"Y-m-d"}}</span></li>
{% endif %}
<li class="list-group-item list-group-item-info"><span class="test text-default"><i class="{% if member.gender == MALE %}fa fa-male{% else %}female{% endif %} fa-lg"></i> {{ member.first_name }}&nbsp;{{ member.initials }}&nbsp;{{ member.age_in_years }}</li>
<li class="list-group-item"><span class="test small text-default">Survey</span>&nbsp<span class="test small text-info">{{ member.survey_year|upper }}.{{ member.survey_name|upper }}</span></li>
<li class="list-group-item"><span class="test small text-default">Household</span>&nbsp<span class="test small text-info">{{ member.household_structure.household.household_identifier }}</span></li>
<li class="list-group-item"><span class="test small text-default">Born</span>&nbsp<span class="test small text-info">{{ member.enrollmentchecklist.dob|date:"Y-m-d" }}</span></li>
</ul>

<ul class="list-group">
  <li class="list-group-item list-group-item-info"><span class="test small text-default">Consent History</span></li>
  {% if not subject_consents %}
	<li class="list-group-item"><span class="test small text-muted">None</span></li>
  {% endif %}
  {% for obj in subject_consents %}
	<li class="list-group-item"><span class="test small text-default">v{{ obj.version }} on {{ obj.consent_datetime|date:"Y-m-d" }}</span></li>
  {% endfor %}
</ul>
<ul class="list-group">
  <li class="list-group-item list-group-item-info"><span class="test small text-default">Survey History</span></li>
  {% if not surveys %}
	<li class="list-group-item"><span class="test small text-muted">None</span></li>
  {% endif %}
  {% for obj in surveys %}
	<li class="list-group-item"><span class="test small text-default">v{{ obj.version }} on {{ obj.consent_datetime|date:"Y-m-d" }}</span></li>
  {% endfor %}
</ul>
</div>
