{% load staticfiles %}
{% load crispy_forms_tags %}

   <div class="container">
      <div class="col-md-12">
        <div class="panel-group">
          <div class="panel panel-info">
              <div class="panel-heading clearfix">
              <i class="fa fa-user-circle-o fa-lg"></i><i class="fa fa-user-circle fa-lg"></i>
              <span class="pull-right">{% include 'edc_search/search_form.html' %}</span>
                </div>
                  <table class="table table-striped table-responsive small">
        			<thead>
        				<th></th>
        				<th>Subject</th>
                <th>Identifier</th>
        				<th>Born</th>
        				<th>Age</th>
        				<th>Consent Date</th>
        				<th>User Created</th>
        				<th>Created</th>
        				<th>Host</th>
        			</thead>
        			<tbody>
                  {% for obj in results %}
          				<tr> 
            				<td><a href="{% url 'bcpp-subject:dashboard_url' subject_identifier=obj.subject_identifier %}" title="subject dashboard" role="button" class="btn btn-success btn-sm"><i class="fa fa-dashboard fa-lg"></i></a></td>
                    <td>{{ obj.subject_identifier }}</td>
                    <td>{{ obj.first_name }} {{ obj.last_name }} {{ obj.initials }}</td>
            				<td>{{ obj.dob|date:"Y-m-d" }}</td>  
                    <td>  </td>  
            				<td>{{ obj.consent_datetime|date:"Y-m-d" }}</td>  
                    <td>{{ obj.user_created }}</td>  
                    <td>{{ obj.modified|date:"Y-m-d" }}</td>  
                    <td>{{ obj.host_created }}</td>  
            			</tr>						
                  {% endfor %}
     				</tbody>
     			</table>
          {% include 'edc_search/paginator.html' %}

                <div class="panel-body">
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
